# Compiled Object files
*.slo
*.lo
*.o
*.out

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Temp files
*~

#Project files
.cproject
.project
.wrproject

# Compiler files
PPC*
.ucpp
.wrmakefile
Makefile
